<footer class="footer pt-3 pb-3 text-center">
  <a
    href="https://www.linkedin.com/in/marianela-serodino-runco/"
    target="_blank"
    ><i class="fa-brands fa-linkedin"></i>
  </a>
  <a href="https://www.instagram.com/nelaserodino/" target="_blank"
    ><i class="fa-brands fa-instagram"></i>
  </a>
  <a href="mailto:serodinonela@gmail.com">
    <i class="fa-solid fa-envelope"></i
  ></a>
  <p class="mb-1">Designed and Developed by Marianela Serodino</p>
</footer>
