@mixin button_menu {
    background-color: $color_purple;
    border-radius: 50px;
}

@mixin button_createAccount {
    background-color: $color_blue;
    border-radius: 50px;
    font-size: 1rem;
    padding: 1rem;
    width: 50%;
    font-family: gilroy-bold;
    border: none;
    transition: all 0.5s;
    a{
        text-decoration: none;
        color: white;
    }
}
@mixin button_edit {
    background-color: $color_green;
    border-radius: 50px;
    border: none;
    font-family: gilroy-bold;
    text-decoration: none;
    width: 20%;
    color: white;   
    margin-right:1rem;
    padding: 0.5rem;
    span{
        font-size: 2rem;
    }
    a{
        text-decoration: none;
        color: $color_blue;
    }
}
@mixin button_delete {
    background-color: $color_orange;
    border-radius: 50px;
    border: none;
    font-family: gilroy-bold;
    text-decoration: none;
    width: 20%;
    color: white;   
    margin-right:1rem;
    padding: 0.5rem;
    span{
        font-size: 2rem;
    }
    a{
        text-decoration: none;
        color: $color_blue;
    }
}
@mixin button_register {
    background-color: $color_green;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-family: gilroy-bold;
    border: none;
    color: $color_purple;
    height: 50px;
    a{
        text-decoration: none;
        color: $color_blue;
    }
}